html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #d8dff5;

    @media (min-width: 767px) {
         margin: 0 2rem;
    }
}

/* Header */

.header {

    position: sticky;
    top: 0;
    background-color: #d8dff5;
}

.navbar {
    padding: 1.5rem 0 1rem 1.4rem;
    border-bottom: solid .1rem #0A3871;
}

/* Campo de texto */

.campo {
    display: flex;
    justify-content: start;
    margin-top: 2rem ;

}

.campo__texto {
    width: 100%;
    margin: 2.5rem 0;
    border: 0;
    font-size: 2.4rem;
    margin: 1rem;
    outline: none;
    background-color: #d8dff5;
    resize: none;

    @media (min-width: 767px) {
        margin-top: 3rem; 
        height: 42rem;
        width: 100%;
        }

    @media (min-width: 1024px) {
        height: 35rem;
        }
}

.campo__texto::placeholder {
    color: #0A3871;
    
    
}

.aviso-predeterminado {
    display: flex;
    margin: .5rem;

    @media (min-width: 767px) {
        font-size: 1.3rem;
    }
}

.aviso__icono {
    margin: 0 .5rem 0 .2rem;
}

.aviso__texto {
    margin: 0;
}


.error-aviso {
    padding: 1rem;
    background-color: red;
    text-align: center;
    border-radius: 5px;
    font-size: 1.35rem;
    font-weight: bold;

}
/* Botones */

.interaccion {
    display: grid;

    @media (min-width: 767px) {
         display: grid;
         grid-template-columns: 1fr 1fr;
    }

}

.interaccion__boton {
    text-decoration: none;
    padding: 1.8rem;
    margin: .8rem;
    border-radius: 1.7rem;
    text-align: center;
    font-size: 1.6rem;
}

.interaccion__boton--encriptar {
    background-color: #0A3871;
    color: white;
}

.interaccion__boton--encriptar:hover{
    background-color: #0f3058;
}

.interaccion__boton--encriptar:active{
    background-color: #1c4d89;
}

.interaccion__boton--desencriptar {
    border: #0A3871 .1rem solid;
    color: #0A3871;
    margin-bottom: 1rem;
}

.interaccion__boton--desencriptar:hover {
    background-color: #cbd2e9;
}

.interaccion__boton--desencriptar:active{
    background-color: #bac0d5;
}

/* Mensaje encriptado */

.mensaje-encriptado {
    background-color: white;
    border-radius: 2rem;
    text-align: center;
    padding: .4rem;
    padding-left: 2rem;
    margin: 3rem 1rem;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.181);
    overflow: visible;
    max-height: none;
    position: relative;

}


.encriptado__imagen {
    display: none;
    visibility: hidden;

    @media (min-width: 1024px) {
        display: inline;
        visibility: visible;
        margin-top: 7rem;
    }
}


.encriptado__texto-1 {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 1rem;
}

.encriptado__texto-2 {
    font-size: 1.2rem;
    padding: 0 .8rem;
    color: rgb(103, 102, 102);
}

/* Principal Responsive: Desktop */

@media (min-width: 1024px) {
    .principal {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 7rem;
        margin-left: 10rem;
    }

    .mensaje-encriptado {
        height: 95%;
    }

    .encriptado__texto-1 {
        padding: 0 20%;
    }

    .encriptado__texto-2 {
        margin: 0 9%;
    }
}

/* boton Copiar */

.boton-copiar {
    margin-top: 1.5rem;
    padding: 1.8rem;
    border-radius: 1.7rem;
    text-align: center;
    font-size: 1.7rem;
    bottom: 0;
    left: 50%;
    width: 100%;
    cursor: pointer;

    @media (min-width: 1024px) {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 1rem;
        width: 96%;
        overflow-y: auto;
        max-height: 80vh;
    }
}

.boton-copiar:hover {
    background-color: #c8cddd;
}

.boton-copiar:active {
    background-color: #95a5da;
}

/* Estilo texto ya encriptado */

.texto-encriptado,
.texto-vacio {
    color: #0f3058;
    font-size: 2.4rem;
    padding: 2rem;
    padding-right: 2rem;
    text-align: left;
    
}

.texto-vacio {
     text-align: center;
     padding-right: 4rem;
}




